"use strict";

var mvc = require('express-mvc');

module.exports = mvc.Controller.create('<%=name%>', function(app)
{
    return {
        index: function(request,response,next)
        {
            //
        },
    }
});