"use strict";

var expressway = require('expressway');

module.exports = expressway.Model.create('<%=name%>', function Blueprint(app)
{
    this.title      = 'id';
    this.expose     = false;
    this.guarded    = [];
    this.appends    = [];
    this.populate   = [];
    this.managed    = false;
    this.labels     = {};

    this.schema = {
        created_at:  { type: Date, default: Date.now },
        modified_at: { type: Date, default: Date.now }
    };

    this.methods = {}

});