"use strict";

module.exports = function(Provider)
{
    Provider.create('<%=name%>', function() {

        // Provider setup...
        this.order = 0;
        this.requires(['loggerProvider']);
        this.environments = [ENV_CLI];

        // Return the registration function...
        return function(app){

            // Codez
        }
    });
}