"use strict";

/**
 * New service.
 * @injectable
 */
module.exports = function(app)
{
    // Example.
    return new class <%=name%>
    {
        constructor()
        {
            //
        }
    }
}