<% include common/head %>

<main class="row">
    <div class="columns">
        <h1>Login</h1>

        <form action="/login" method="POST">

            <label for="Username">Username
                <input type="text" name="username" id="Username">
            </label>

            <label for="Password">Password
                <input type="password" name="password" id="Password">
            </label>

            <input type="hidden" name="_csrf" value="<%= request.csrfToken() %>">

            <button type="submit" class="button">Submit</button>

            <a href="/">Back to Site</a>
        </form>
    </div>
</main>

<% include common/footer %>