<% include common/head %>

<main class="row">
    <div class="columns">

        <h1>Login</h1>

        <% if (message!="") { %>
        <div class="callout warning">
            <%= lang(message) %>
        </div>
        <% } %>


        <form action="/login" method="POST">

            <label for="Username">Username
                <input type="text" name="username" id="Username">
            </label>

            <label for="Password">Password
                <input type="password" name="password" id="Password">
            </label>

            <input type="hidden" name="_csrf" value="<%= request.csrfToken() %>">

            <button type="submit" class="button"><%= lang('auth.button_submit') %></button>

            <a href="/">Back to Site</a>
        </form>
    </div>
</main>

<% include common/footer %>