mixin lnr(name,label)
    i(class="lnr-" + name)
    span=label

doctype html
html
    head
        title=template.title

        meta(charset="UTF-8")
        != template.head()


    body(class=template.bodyClass)

        block content

        footer#Footer
